

html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 60px;
}

	
}
#loading {
	background:url(../img/load.gif) no-repeat center center;
	display: none;
	width: 128px;
	height: 128px;
	margin: 10px auto;
	position:absolute;
	top: 20px;
	right: 50%;
	z-index: 999;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.textcopyright {
	font-size: 1.005em;
	padding-top: 15px;
}




