<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Login Authentication">
  <meta name="author" content="">
  <title>Log in Page</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
	<body>
		<div class="container"> <!-- http://bootsnipp.com/snippets/featured/login-amp-signup-forms-in-panel-->
			<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                        <!--<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>-->
                    </div>  
                    <div style="padding-top:30px" class="panel-body" >
                    	<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                      
                    	<form id="local-sign-in" class="form-horizontal" role="form" method="post">
                    		<div style="margin-bottom: 25px" class="input-group">
                           		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            	<input id="login-username" type="text" class="form-control" name="username" value="" autofocus onblur="this.value=this.value.toUpperCase()" placeholder="username">                                    
                        	</div>
                        	<div style="margin-bottom: 25px" class="input-group">
                           		 <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                           		 <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                        	</div>
                        	<div style="margin-top:10px" class="form-group">
                                <!-- Button -->
                                <div class="col-sm-12 controls">
                                    <!-- <a id="btn-login" href="#" class="btn btn-success">Login</a> -->
                                    <input style="margin-bottom: 20px" type="submit" class="btn btn btn-default" value="Login">
                                    <% if (message) { %>
										<div style="display: inline; font-size: 140%; margin-left: 20px" class=".alert alert-danger"> <%= message %> </div>
									<% }  %>

                                </div>
                            </div>
                    	</form>
                    </div> 
                </div>
			</div>	
		</div>
		<!--
		<form id="local-sign-in2" class="" action="" method="post"> 
					<div>
						<input type="text" name="username" placeholder="Username">
					</div>
					<div>
						<input type="password" name="password" placeholder = "Password">
					</div>
					<div>
						<input type="submit" class="btn btn-primary btn-sm" value="Log in">
					</div>
				</form>
				-->
		</body>
</html>
